
body {
    font-family: Roboto, Arial, sans-serif;
}

.container {
    
    background-color: #F3E8F9;
    height: 98vh;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F3FF;
    height: 84px;
}

h1 {
    margin: 0 0 0 80px;
    color: #E75E5B;
    font-size: 4em;
}

h1 span {
    color: #3F1F46;
}

h1 span:last-child {
    color: #44B0DE;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    list-style: none;
    
}

nav {
    margin: 0 55px 0 0 ;
}

header li {
    margin: 0 25px;
}

header li:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

main {
    height: 78.5vh;
}

main ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    height: 80%;
}

main ul:hover li:not(:hover){
    filter: grayscale(50%);
    transform: scale(0.95);
    transition: all 0.2s ease-in;
}

main li {
    margin: 0;
    transition: all 0.2s ease-in;
}

main li:hover {
    /* transform: scale(1.1); */
    transition: all 0.2s ease-in;
}

footer {
    height: 84px;
    background-color: #BFBFE0;
    color: #3F1F46;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

