
body {
    font-family: Roboto, Arial, sans-serif;
}

.container {
    
    background-color: #F3E8F9;
    height: 98vh;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F3FF;
    height: 84px;
}

h1 {
    margin: 0 0 0 80px;
    color: #E75E5B;
    font-size: 4em;
}

h1 span {
    color: #3F1F46;
}

h1 span:last-child {
    color: #44B0DE;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    list-style: none;
    
}

nav {
    margin: 0 55px 0 0 ;
}

li {
    margin: 0 25px;
}

main {
    height: 80vh;
}

footer {
    height: 84px;
    background-color: #BFBFE0;
}

li:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}