
body {
    font-family: Roboto, Arial, sans-serif;
}

.container {
    
    background-color: #F3E8F9;
    height: 98vh;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F3FF;
    height: 84px;
}

h1 {
    margin: 0 0 0 80px;
    color: #E75E5B;
    font-size: 4em;
}

h1 span {
    color: #3F1F46;
}

h1 span:last-child {
    color: #44B0DE;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    list-style: none; 
}

nav {
    margin: 0 55px 0 0 ;
}

header li {
    margin: 0 25px;
}

header li:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

main {
    /* height: 78.5vh; */
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
}

.main-container {
}

.picture-container {
    display: flex;
    height: 70vh;
    position: relative;
    

}

.picture {
    align-self: flex-end;
}

main ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    margin-bottom: 0;
}

main ul:hover li:not(:hover){
    filter: grayscale(50%);
    transform: scale(0.95);
    transition: all 0.2s ease-in;
}

#center_outline_bulb {
    visibility: visible;
}

main li:nth-child(2):hover #center_outline_bulb {
    visibility: hidden;
    transition: all 0.1s ease-in;
    transform: scale(0.8);
}

main li .bulb {
    visibility: hidden;
}

main li:hover .bulb {
    visibility: visible;
    transition: all 0.5s ease-out;
    transform: scale(1.1);
}

main li {
    margin: 0;
    transition: all 0.2s ease-in;
}

main li:hover {
    /* transform: scale(1.1); */
    transition: all 0.2s ease-in;
}

.bulb {
    position: absolute;
    left: -10px;
    top: 50px;
}

.bulb p {
    position: absolute;
    left: 50px;
    top: 60px;
    width: 260px;
    line-height: 1.5;
}

.picture {
    /* height: 40vh; */
}

#shape-rectangular {
    width: 90%;
    height: 20px;
    background-color: #245FAC;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

#center_outline_bulb {
    left: -100px;
    top: 20px;
}

#right_blue_bulb {
    left: -80px;
    top: 30px;
}

#text_left_blue_bulb {
    color: #F8F3FF;
}

#text_center_outline_bulb {
    color: #E75E5B;
    font-size: 3em;
    font-weight: bold;
    top: -20px;
    left: 80px;
    text-align: center;
    width: 300px;
    line-height: 1.3;
    display: block;
    /* transform: rotateY(30deg); */
}

#text_center_blue_bulb {
    color: #F8F3FF;
    font-size: 1.5em;
    top: 10px;
    line-height: 1.3;
}

#text_right_blue_bulb {
    color: #245FAC;
    top: 30px;
    left: 35px;
    font-size: 1.2em;
    line-height: 1.5;
}

footer {
    height: 84px;
    background-color: #BFBFE0;
    color: #3F1F46;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

